/*
 * Entry point of global application style.
 * Component-specific style should not go here and be included directly as part of the components.
 */

// Theme variables, must be included before the libraries to allow overriding defaults
@import "theme/theme-variables";

// 3rd party libraries
@import "~bootstrap/scss/bootstrap";

// Font
@import url("https://fonts.googleapis.com/css?family=Istok+Web");

// Theme customization
@import "theme/theme";

@import "~@angular/material/theming";
@include mat-core();
$md-primary: (
  50: #e5f7f8,
  100: #beeaee,
  200: #92dce3,
  300: #66ced7,
  400: #46c4cf,
  500: #25b9c6,
  600: #21b2c0,
  700: #1baab9,
  800: #16a2b1,
  900: #0d93a4,
  A100: #d3f9ff,
  A200: #a0f3ff,
  A400: #6decff,
  A700: #53e9ff,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #000000,
    600: #000000,
    700: #000000,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000
  )
);
$hiber-app-primary: mat-palette($md-primary);
$hiber-app-accent: mat-palette($md-primary);
$hiber-app-warn: mat-palette($mat-red);
$hiber-app-theme: mat-light-theme($hiber-app-primary, $hiber-app-accent, $hiber-app-warn);
@include angular-material-theme($hiber-app-theme);

.tooltip-error {
  .tooltip-inner {
    background-color: $red;
  }

  &.bs-tooltip-right .arrow:before {
    border-right-color: $red;
  }

  &.bs-tooltip-left .arrow:before {
    border-left-color: $red;
  }

  &.bs-tooltip-top .arrow:before {
    border-top-color: $red;
  }

  &.bs-tooltip-bottom .arrow:before {
    border-bottom-color: $red;
  }
}
